body{
	font: 95% / 1.5 sans-serif;
	margin:0;
	padding:0;
}	
header{
	color:#fff;
	background: rgba(51,51,153,.5);
	position:fixed;
	width: 100%;
	top:0;
	padding: 1rem 0;
}
header p{
	margin: 0 .8rem
}
header b{
	font-size: 1.2rem;
}

header a{
	color:#fff;
}

h1{margin: 0 .5rem}

article{
	margin:3rem;
	padding-top: 4rem;
}

article p{
	width: 35rem;
	margin: 1rem auto;
}

button{
	background-color: #eeeeee;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(238, 238, 238)), to(rgb(204, 204, 204)));
	background-image: -webkit-linear-gradient(top, rgb(238, 238, 238), rgb(204, 204, 204));
	background-image: -moz-linear-gradient(top, rgb(238, 238, 238), rgb(204, 204, 204));
	background-image: -o-linear-gradient(top, rgb(238, 238, 238), rgb(204, 204, 204));
	background-image: -ms-linear-gradient(top, rgb(238, 238, 238), rgb(204, 204, 204));
	background-image: linear-gradient(top, rgb(238, 238, 238), rgb(204, 204, 204));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#eeeeee', EndColorStr='#cccccc');
	border: 1px solid #999;
	font: inherit;
	font-weight: bold;
	border: 1px solid #bbb;
	border-radius: 5px;
	line-height: .8;
	color: #333;
	padding: .5rem;
	text-shadow: -1px -1px 0 #eee;
}

button:hover, button:active{
	background-color: #cccccc;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(204, 204, 204)), to(rgb(238, 238, 238)));
	background-image: -webkit-linear-gradient(top, rgb(204, 204, 204), rgb(238, 238, 238));
	background-image: -moz-linear-gradient(top, rgb(204, 204, 204), rgb(238, 238, 238));
	background-image: -o-linear-gradient(top, rgb(204, 204, 204), rgb(238, 238, 238));
	background-image: -ms-linear-gradient(top, rgb(204, 204, 204), rgb(238, 238, 238));
	background-image: linear-gradient(top, rgb(204, 204, 204), rgb(238, 238, 238));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#cccccc', EndColorStr='#eeeeee');
}

.hidden{
	visibility:hidden;
}

nav{
	position:absolute;
	top:0;
	right:0;
	padding: 2rem;
}